.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 4rem;
    width: 25rem;
    height: 25rem;
    color: black;
    border: 1rem solid #ccc;
    border-radius: 2rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-0.5rem);
}
  
/* .cardName {
    font-size: 2rem;
    margin-top: 1rem;
}

.cardDescription {
    font-size: 1rem;
} */
/* .card a {
    text-decoration: none;
    color: #333;
} */
  
/* .cardImage {
    display: block;
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
} */
  