.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2rem;
    width: auto;
    height: auto;
    color: black;
    border: 1rem solid #ccc;
    border-radius: 2rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-0.5rem);
}