.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: #cecece;
    font-weight: bolder;
    width: 100%;
}
.item {
    background-color: transparent;
    color: #414141;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    text-decoration: none;
}
.nav .item:hover {
    background-color: #646362;
    color: #ffffff;
    border: none;
    border-radius: 1rem;
}