.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}