.text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
}

.section {
    position: absolute;
    right: 5%;
    top: 50%;
}